.header {
 font-family: var(--var-font-head);
 letter-spacing: 2px;
 line-height: 3rem;
 margin-bottom: 2rem;
}


.content {
    display: flex;
    justify-content: space-around;
    height: 750px;
    > div {
        padding: 2rem;
    }
    .about_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1000px;
        margin-left: 5%;
        .text {
            align-items: center;
        }
    }
}

// images Container 
.imageCont {
    min-width: 30%;
    align-self: center;
    display: flex;
    justify-content: center;
    img {
        object-fit: cover;
    }
}

// img container 

.about_img {
    height: 800px;
    width:  100%;
    img {
        object-position: 50% 80%;
        opacity: .8;
        width:100%;
        height:100%;
        object-fit:cover;
    }
}


// Intro section 
.intro {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 6rem;
    div {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        font-size: 15px;
    }
}