

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 9999;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    > a {
        color: black !important;
        font-size: 2.5rem;
    }
    ul {
        display: flex;
        gap: 3rem;
        margin-left: auto;
        align-items: center;
        font-size: 20px;
        color: black !important;
        a {
            color: black !important;
            :last-child {
                color: #E1306C !important;      
            }
        }
    }
}

// instagram logo

.insta {
    color: #E1306C !important;
    &:hover {
        opacity: .3;
    }
}