/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap'); /*font-family: 'Oswald', sans-serif;*/


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}


:root {
  /* allgemeine Farben */
  --var-cl-grey: #808080;

/* font-size */
--var-f-size-s: 10px;
--var-f-size-m: 12px;
--var-f-size-l: 14px;
--var-f-size-xl: 16px;
--var-f-size-xxl: 25px;

/* font-size */
--var-font-head: 'Oswald', sans-serif;
}