
.installation {
    div {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;
      justify-content: space-evenly;
      div {
        div:last-child { 
          overflow: hidden !important;
          width: fit-content !important;
          height: fit-content !important;
          img {
            width: 100% !important;
            height: auto !important;
          }
        }
      }
    }
  }



.skizzen {
    div {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;
      justify-content: space-evenly;
      div {
        div:last-child { 
          overflow: hidden !important;
          width: fit-content !important;
          height: fit-content !important;
          img {
            width: 100% !important;
            height: auto !important;
          }
        }
      }
    }
}